# requests-html

In [60]:
# !pip install requests-html

In [105]:
url = (
  "https://pt.wikipedia.org/wiki/Lista_de_parlamentares_de_S%C3%A3o_Paulo"
)

In [106]:
# requests_html: This library intends to make parsing HTML 
# (e.g. scraping the web) as simple and intuitive as possible.
from requests_html import HTMLSession
session = HTMLSession()

In [107]:
r = session.get(url)

In [111]:
r.html

In [115]:
# Select Elements within Elements
r.html.find("table")
#r.html.find("table", first=True).text
#r.html.find('a', containing='kenneth')

[<Element 'table' class=('wikitable',) style='font-size: 85%;'>,
 <Element 'table' class=('wikitable',) style='font-size: 85%;'>,
 <Element 'table' class=('nowraplinks', 'collapsible', 'autocollapse', 'navbox-inner') style='border-spacing:0;background:transparent;color:inherit'>,
 <Element 'table' class=('nowraplinks', 'collapsible', 'show', 'navbox-inner') style='border-spacing:0;background:transparent;color:inherit'>]

In [117]:
r.html.find("table", containing="Deputado")

In [120]:
# Search for text on the page:
r.html.search('({})')
#r.html.search('({ano})')

In [121]:
# Select an Element with a CSS Selector
r.html.find('#mw-content-text')
# r.html.find('.mw-content-text')

In [67]:
tables = r.html.find("table")

table_df = tables[1]
table_df

In [68]:
rows = table_df.find("tr")
rows

[<Element 'tr' >,
 <Element 'tr' >,
 <Element 'tr' >,
 <Element 'tr' >,
 <Element 'tr' >,
 <Element 'tr' >,
 <Element 'tr' >]

In [69]:
headers = rows[0].find("th")
headers[0].text

'Senadores eleitos'

In [70]:
headers_list = []

for header in headers:
    headers_list.append(header.text)

In [71]:
dados = []

for row in rows[1:]:
    itens = row.find("td")

    r = []
    
    for item in itens:
        r.append(item.text)

        dados.append(r)

In [72]:
import pandas as pd

In [73]:
pd.DataFrame(dados, columns=headers)

,<Element 'th' width='190' style='background-color:#CCCCCC'>,<Element 'th' width='190' style='background-color:#CCCCCC'>,<Element 'th' width='80' style='background-color:#CCCCCC'>,<Element 'th' width='470' style='background-color:#CCCCCC'>
0,Danton Jobim[nota 5][nota 6],"Avaré, SP",2,"1970, 1974"
1,Danton Jobim[nota 5][nota 6],"Avaré, SP",2,"1970, 1974"
2,Danton Jobim[nota 5][nota 6],"Avaré, SP",2,"1970, 1974"
3,Danton Jobim[nota 5][nota 6],"Avaré, SP",2,"1970, 1974"
4,Gilberto Marinho,"Pelotas, RS",1,1962
5,Gilberto Marinho,"Pelotas, RS",1,1962
6,Gilberto Marinho,"Pelotas, RS",1,1962
7,Gilberto Marinho,"Pelotas, RS",1,1962
8,Aurélio Viana,"Maceió, AL",1,1962
9,Aurélio Viana,"Maceió, AL",1,1962
10,Aurélio Viana,"Maceió, AL",1,1962
11,Aurélio Viana,"Maceió, AL",1,1962
12,Mário Martins[nota 5],"Petrópolis, RJ",1,1966
13,Mário Martins[nota 5],"Petrópolis, RJ",1,1966
14,Mário Martins[nota 5],"Petrópolis, RJ",1,1966
15,Mário Martins[nota 5],"Petrópolis, RJ",1,1966
16,Benjamin Farah[nota 6],"Corumbá, MS",1,1970
17,Benjamin Farah[nota 6],"Corumbá, MS",1,1970
18,Benjamin Farah[nota 6],"Corumbá, MS",1,1970
19,Benjamin Farah[nota 6],"Corumbá, MS",1,1970
20,Nelson Carneiro[nota 6],"Salvador, BA",1,1970
21,Nelson Carneiro[nota 6],"Salvador, BA",1,1970
22,Nelson Carneiro[nota 6],"Salvador, BA",1,1970
23,Nelson Carneiro[nota 6],"Salvador, BA",1,1970

# pandas

In [74]:
import pandas as pd

url = (
  "https://pt.wikipedia.org/wiki/Lista_de_parlamentares_de_S%C3%A3o_Paulo"
)

tables = pd.read_html(url)

In [82]:
print(f'Total tables: {len(tables)}')

Total tables: 4

In [116]:
tables[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Senadores eleitos  23 non-null     object
 1   Naturalidade       23 non-null     object
 2   Mandatos           23 non-null     int64
 3   Ano da eleição     23 non-null     object
dtypes: int64(1), object(3)
memory usage: 864.0+ bytes

In [114]:
tables[0].head()

        Senadores eleitos   Naturalidade  Mandatos    Ano da eleição
0         Eduardo Suplicy  São Paulo, SP         3  1990, 1998, 2006
1   Auro de Moura Andrade   Barretos, SP         2        1954, 1962
2   Lino de Matos[nota 1]    Ipaussu, SP         2        1954, 1962
3  Franco Montoro[nota 2]  São Paulo, SP         2        1970, 1978
4      Romeu Tuma[nota 3]  São Paulo, SP         2        1994, 2002

In [103]:
tables[1].sort_values(by="Mandatos").tail(20).query("Mandatos >= 7")

,Deputados federais eleitos,Naturalidade ou base,Mandatos,Ano da eleição
6,Arlindo Chinaglia,"Serra Azul, SP",7,"1994, 1998, 2002, 2006, 2010, 2014, 2018"
5,Nelson Marquezelli,"Pirassununga, SP",7,"1990, 1994, 1998, 2002, 2006, 2010, 2014"
4,Cunha Bueno,"São Paulo, SP",7,"1974, 1978, 1982, 1986, 1990, 1994, 1998"
3,Pacheco Chaves,"São Paulo, SP",7,"1954, 1958, 1962, 1970, 1974, 1978, 1982"
2,Arnaldo Faria de Sá,"São Paulo, SP",8,"1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014"
1,Herbert Levy,"São Paulo, SP",9,"1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978..."
0,Ulysses Guimarães,"Itirapina, SP",11,"1950, 1954, 1958, 1962, 1966, 1970, 1974, 1978..."

In [104]:
tables[1].groupby('Naturalidade ou base')['Ano da eleição'].count().sort_values(ascending=False)

Naturalidade ou base
São Paulo, SP         123
Santos, SP             23
Rio de Janeiro, RJ     18
Campinas, SP           17
Ribeirão Preto, SP     13
                     ...
Itainópolis, PI         1
Itajobi, SP             1
Itajubá, MG             1
Itamarandiba, MG        1
Óbidos, PA              1
Name: Ano da eleição, Length: 241, dtype: int64

In [79]:
# !pip install html5lib
import html5lib

In [80]:
tables_match = pd.read_html(url, match='Estado da Guanabara')
len(tables_match)

ValueError: No tables found matching pattern 'Estado da Guanabara'